.outer {
  background-color: aliceblue;
}
.yoga-wisdom {
  background: linear-gradient(purple, orange);
  background-attachment: fixed;
}
.w-desk {
  font-size: 25px;
}
.ig {
  animation: updown;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
